*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utility */

body{
    min-width: 1440px;
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.ample{
    width: 82%;
}

.ample, .container{
    margin: auto;
}

a:not(.clients){
    text-decoration: none;
}

.btn_full a{
    color: white;
    background-color: blue;
}

.btn_empty a{
    color: black;
    background-color: white;
    border: 1px solid black;
}

p{
    line-height: 22px;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}



/* header */

header{
    width: 100%;
    min-width: 1440px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    font-weight: 600;
    z-index: 100;
}

header .clearfix{
    width: 100%;
}

.column_left, .column_right{
    float: left;
    width: 50%;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.column_left{
    text-align: left;
}

.column_right{
    text-align: right;
}

header .logo, header nav, header .btn_full{
    display: inline-block;
}

.logo img, nav a, header .btn_full{
    vertical-align: middle;
    padding: 0 20px;
}


nav a{
    color: black;
}

header .btn_full a{
    padding: 8px 22px;
    font-size: 0.8rem;
}

/* /header */


/* main */

main{
    margin-top: 100px;
}

.total{
    background-color: rgb(180, 208, 231);
}

.row_title{
    float: left;
    width: 100%;
}

.row_title h1{
    font-size: 4.3rem;
    margin: 100px 0 70px;
}

.column_text{
    float: left;
}

.column_illustration{
    float: left;
}

.jumbo .column_text{
    width: 32%;
}

.jumbo .column_illustration{
    width: 68%;
    height: 100%;
    position: relative;
}    

.column_text .btn_full{
    margin: 35px 0 20px;
}

.column_text .btn_full a{
    padding: 8px 15px;
}

.notice{
    font-size: 0.8rem;
}

a i{
    font-size: 2.3rem;
    color: black;
    margin: 40px 0 115px;
}

.column_illustration img{
    width: 100%;
    padding-left: 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

/* /jumbo */


.container{
    width: 70%;
}


h2.plans{
    margin: 180px 0 60px;
}

.central{
    margin: 0 5%;
}

.card{
    float: left;
    width: 30%;
    min-height: 1000px;
    border: 1px solid black;
    margin-top: 35px;
}

.user{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.content_plans{
    padding: 30px;
}

.content_plans:not(h3){
    font-size: 0.8rem;
}

.card h3{
    margin: 10px 0 15px;
}

.reference_duration{
    margin-top: 10px;
    color: gray;
}

ol{
    list-style: none;
    margin: 40px 0;
}

li{
    margin: 20px 0;
}

.content_plans .btn_full{
    text-align: center;
    line-height: 30px;
    background-color: blue;
}

.buy_now{
    margin: 30px 0;
}
    
.half_card{
    width: 45px;
}

.card dl{
    margin: 35px 0;
}

.content_plans dt{
    font-weight: 700;
}

.content_plans dd{
    margin-top: 30px;
}

.content_plans dd i{
    color: blue;
}

.card_bottom{
    float: left;
    width: 100%;
    border: 1px solid black;
    margin-top: 35px;
}

.card_bottom .enterprice_left{
    float: left;
    width: 70%;
}

.card_bottom dl{
    margin: 15px 0 0;
}

.card_bottom .btn_full{
    float: left;
    width: 30%;
}

/* /subscription plans */


.contact{
    margin-top: 130px;
}

.column_img{
    float: left;
    width: 53%;
}

.contact .column_text{
    float: left;
    width: 47%;
    padding-left: 50px;
} 
    
.column_img img{
    width: 100%;
} 

.contact h3{
    margin: 35px 0 25px;
}

.contact p{
    line-height: 30px;
}

.contact .btn_empty{
    margin: 30px 0;
}

.contact .btn_empty a{
    padding: 8px 15px;
}

/* /contact */


.operation{
    margin: 100px 0;
}

.row{
    float: left;
    width: 100%;
    margin: 50px 0;
}

.row > div{
    float: left; 
    width: 30%;
}

.row img{
    width: 100%;
}

.row div:nth-child(2){
    margin: 0 5%;
}

/* /operation */


.popularity{
    width: 53%;
}

.popularity .clients{
    display: inline-block;
    margin: 40px 0;
}

.partners{
    float: left;
    width: 220px;
}

.window_partner{
    float: left;
    width: 42%;
    height: 440px;
}

.square{
    height: 220px;
    line-height: 220px;
    text-align: center;
}

.partners img{
    width: 50%;
    vertical-align: middle;
    filter: invert(1);
}


.designit{
    background-color: rgb(162, 211, 155);
}

.florida{
    background-color: rgb(0, 147, 206);
}

.arizona{
    background-color: rgb(97, 8, 43);
}

.topps{
    background-color: rgb(255, 28, 28);
}

.bicycle{
    background-color: rgb(213, 0, 31);
}

.lonely{
    background-color: rgb(13, 36, 129);
}

.hearts{
    background-color: rgb(180, 208, 231);
}

.channel{
    background-color: rgb(255, 216, 58);
}


.window_partner{
    padding: 20px 40px;
    background-color: rgb(245, 245, 245);
}

.partner_logo img{
    width: 20%;
    margin: 30px 0;
}

.window_partner hr{
    width: 50px;
}

.window_partner p{
    margin: 35px 0; 
}

.invited{
    padding: 100px 0;
}

.title_left{
    float: left;
    width: 50%;
}

.buttom_right{
    float: left;
    width: 50%;
    text-align: right;
}

.buttom_right .btn_empty a{
    padding: 8px 40px;
    border: none;
}

/* /main */


/* footer */

footer{
    background-color: black;
    color: white;
    padding: 100px 0;
}


footer dl{
    float: left;
    width: 20%;
}

footer dt{
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
}

footer dd a{
    color: white;
    font-size: 0.7rem;
}

footer hr{
    width: 100px;
    margin: 75px 0 40px;
}

footer .finish{
    font-size: 0.6rem;
}

/* /footer */