*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utility */

body{
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.ample, .container{
    margin: auto;
}

a{
    text-decoration: none;
}

.btn_full a{
    color: white;
    background-color: blue;
}

p{
    line-height: 22px;
}


/* header */

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    font-weight: 600;
}

header .clearfix{
    width: 100%;
}

.column_left, .column_right{
    float: left;
    width: 50%;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.column_left{
    text-align: left;
}

.column_right{
    text-align: right;
}

header .logo, header nav, header .btn_full{
    display: inline-block;
}

.logo img, nav a, header .btn_full{
    vertical-align: middle;
    padding: 0 20px;
}


nav a{
    color: black;
}

header .btn_full a{
    padding: 8px 22px;
    font-size: 0.8rem;
}

/* /header */


/* main */

main{
    margin-top: 100px;
}

.total{
    background-color: rgb(180, 208, 231);
}

.ample{
    width: 82%;
}

.row{
    float: left;
    width: 100%;
}

.title h1{
    font-size: 4.3rem;
    margin: 100px 0 70px;
}

.text{
    float: left;
    width: 32%;
}

.illustration{
    float: left;
    width: 68%;
}

.illustration img{
    width: 100%;
    padding-left: 25px;
}

.text .btn_full{
    margin: 35px 0 20px;
}

.text .btn_full a{
    padding: 8px 15px;
}

.text 

.notice{
    font-size: 0.8rem;
}

/* /main */


/* footer */

footer{
    background-color: black;
}
/* /footer */


/* debug */

/* .debug header{
    height: 100px;
    background-color: darkred;
} */

/* .debug .total{
    height: 400px;
    background-color: darksalmon;
}

.debug .ample{
    width: 80%;
    height: 100%;
    background-color: darkslateblue;
} */

.debug .container{
    width: 60%;
    height: 600px;
    background-color: darkviolet;
}

.debug footer{
    height: 400px;
}